.DS_Store
log/*
tmp/*
BUILD
GEM_SERVER
*~
.#*
.hgignore
.hg/*
.svn/*
modules/*/*.tar.gz
modules/*/*.tgz
modules/*/*.zip
modules/*/*.patch

modules/couchdb/couchdb
modules/erlang/otp_src_*
modules/icu/icu
modules/lighttpd/lighttpd-1*
modules/pcre/pcre-7*
modules/spidermonkey/js